.jumbotron {
    padding: 10px;
    h1 {
        font-size: 20px;
    }
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#triviaTitle {
    background: rgba(255,255,255,0.5);
}
